body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}

.dog-img {
    border: 5px solid white;
    width: 100%;
}

#poster {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 35px;
}